#root {
  width: 100vw;
  max-width: 2400px;
}

:root {
  --complementary-color: #FFA2C9;
  --black-color: #191716;
}

.header {
  background-color: var(--complementary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  z-index: 5;
  top: 0;
}

.header__icon {
  padding: 5px 20px;
}

.header__icon__img {
  vertical-align: middle;
}

.responsive-img {
  max-width: 100%;
}

.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.hero__picture {
  position: absolute;
  inset: 0 0 0 0;
}

.hero__picture__img {
  min-width: 100%;
  height: 100%;
  max-width: unset;
  object-fit: cover;
}

.hero__content {
  position: relative;
  padding: 20px;
  color: var(--black-color);
}